body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(270deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);
    background-size: 600% 600%;
    animation: gradientMove 10s ease infinite;
}

html, body{
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
